DATABASE_URL="file:./dev.db"
GOGOGA_DATA_DIR=".local-data"
GOGOGA_SITE_DOMAIN="pages.gogoga.top"
GOGOGA_MAX_UPLOAD_MB="100"
BETTER_AUTH_SECRET="replace-with-a-random-32-byte-secret"
BETTER_AUTH_URL="http://localhost:3000"
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
